.main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr;
}

/* Remove Later, just for layout */
.header,
.sidebar,
.main-content {
    border: black solid 3px;
}

.header {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 16px;
}

.header-searchbar {
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.header-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.header-welcome {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header-welcome-picture {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
    grid-column: 1 / 1 ;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 3fr;
}

.main-content-projects {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-content-announcements {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.announcements-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-content-trending {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}