* {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr;
}

.header {
    background-color: white;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-searchbar {
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding-left: 32px;
}

.magnifying-glass {
    align-self: center;
    justify-self: center;
}

.searchbar {
    background-color: #e5e7eb;
    border: none;
    border-radius: 16px;
    height: 30px;
    align-self: center;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 300px;
}

.header-profile-name {
    display: flex;
    align-items: center;
    gap: 8px
}

.header-welcome {
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
}


.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.header-buttons > button {
    background-color: #0ea5e9;
    border: none;
    border-radius: 32px;
    height: 45%;
    width: 85%;
    color: white;
}

.sidebar {
    grid-column: 1 / 1 ;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #0ea5e9;
    padding-top: 16px;
}

.main-content {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 3fr;
    background-color: #e9e8e8;
}

.main-content-projects {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-content-announcements {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.announcements-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-content-trending {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}